<% if @book.errors.any? %>
  <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
  <% @book.errors.full_messages.each do |message| %>
    <div class="error">
      <li><%= message %></li>
    </div>
  <% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/list', book: @book,user: @user %>
    </div>

    <div class="col-md-8 offset-md-1">
        <h2 class="books">Books</h2>
        <table class="table table-hover">
          <thead>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </thead>
          <% @books.each do |book| %>
            <tbody>
              <td><%= attachment_image_tag @user, :profile_image, fallback: "default.png", size: "30x30"%></td>
              <td><%= link_to book.title, book_path(book.id) %></td>
              <td><%= book.body %></td>
            </tbody>
          <% end %>
        </table>
    </div>

  </div>
</div>
<p class="main-bottom" style="text-align: center;" >CopyRight Infratop.inc</p>
