<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
　　<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6c084a2929.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <%= link_to "Bookers", root_path,class:'navbar-brand header-left' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <% if user_signed_in? %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 header-right">
              <li class="nav-item">
                <%= link_to  user_path(current_user.id),class:'nav-link active' do %>
                  <i class="fas fa-home"></i> Home
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to  users_path,class:'nav-link active' do %>
                  <i class="fas fa-users"></i> Users
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to  books_path,class:'nav-link active' do %>
                  <i class="fas fa-book-open"></i> Books
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to  destroy_user_session_path,class:'nav-link active', method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i> Log out
                <% end %>
              </li>
            </ul>
          <% else %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 header-right">
              <li class="nav-item">
                <%= link_to  root_path,class:'nav-link active' do %>
                  <i class="fas fa-home"></i> Home
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to  home_path,class:'nav-link active' do %>
                  <i class="fas fa-link"></i> About
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to  new_user_registration_path,class:'nav-link active' do %>
                  <i class="fas fa-user-plus"></i> Sign up
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to  new_user_session_path,class:'nav-link active' do %>
                  <i class="fas fa-sign-in-alt"></i> Log in
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>
    <br />
    <br />
    <br />
    <% if flash[:notice] %>
      <p class="flash"><%= flash[:notice] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>

